body {
  background-color: #fafafa;
  padding-bottom: 6rem;
}
.hide {
  display: none;
}
.header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
}
.step {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.step .list {
  --active-color: #A7A7A7;
  width: 14rem;
  color: var(--active-color);
  text-align: center;
}
.step .list.active {
  --active-color: #D42F1D;
}
.step .list.active .centre {
  box-shadow: 0 0 0.4rem 0, 1rem var(--active-color);
}
.step .list .num {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.step .list .text {
  font-size: 1.4rem;
  margin-top: 0.8rem;
}
.step .list .line {
  width: 100%;
  height: 1.3rem;
  position: relative;
}
.step .list .line .centre {
  width: 1.3rem;
  height: 1.3rem;
  background: var(--active-color);
  opacity: 1;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step .list .line:after {
  content: "";
  width: 7rem;
  height: 0.1rem;
  background: var(--active-color);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.step .list .line:before {
  content: "";
  width: 7rem;
  height: 0.1rem;
  background: var(--active-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.form-container {
  margin-top: 6rem;
  padding: 0 1.5rem;
}
.form-container .wrap {
  width: 100%;
  margin: 0 auto;
}
.form-container .left-side {
  width: 100%;
}
.form-container .right-side {
  width: 100%;
}
.form-container .card {
  width: 100%;
  margin-bottom: 4rem;
}
.form-container .card .head {
  margin-bottom: 2rem;
}
.form-container .card .head .title {
  font-size: 2.4rem;
}
.form-container .card .main {
  width: 100%;
  background: #FFFFFF;
  border-radius: 0.8rem;
}
.form-container .card .main .form-wrap {
  padding: 3rem;
}
.form-container .card .main .form-group {
  margin-bottom: 3rem;
}
.form-container .card .main .form-group:last-child {
  margin-bottom: 0;
}
.form-container .card .main .form-group .form-label {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  display: block;
}
.form-container .card .main .form-group .form-content {
  width: 100%;
  height: 4rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #A7A7A7;
  padding: 0 1rem;
  font-size: 1.6rem;
}
.form-container .card .main .identical-group {
  position: relative;
}
.form-container .card .main .identical-group .dress {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
}
.form-container .card .main .identical-group .dress input {
  width: 1.2rem;
  margin-right: 0.6rem;
  background-color: red;
  flex-shrink: 0;
  height: 1.2rem;
}
.form-container .card .main .identical-group .dress label {
  font-size: 1.2rem;
}
.form-container .card .main .identical-group .bef {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}
.form-container .card .main .form-radio {
  margin-bottom: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 0.1rem solid #D8D8D8;
  display: flex;
  align-items: center;
}
.form-container .card .main .form-radio:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.form-container .card .main .form-radio .radio-label {
  display: flex;
  align-items: center;
}
.form-container .card .main .form-radio .radio-label.grow {
  flex-grow: 1;
}
.form-container .card .main .form-radio .radio-label .dress {
  width: 1.8rem;
  height: 1.8rem;
  opacity: 1;
  border: 0.1rem solid #D8D8D8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}
.form-container .card .main .form-radio .radio-label .dress:after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #D42F1D;
  opacity: 0;
}
.form-container .card .main .form-radio .radio-label .article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.form-container .card .main .form-radio .radio-label .article .text {
  margin-left: 1.2rem;
  font-size: 1.6rem;
}
.form-container .card .main .form-radio .radio-label .article .text span {
  display: block;
}
.form-container .card .main .form-radio .radio-label .article .text .s2 {
  color: #BFBFBF;
  font-size: 1.4rem;
}
.form-container .card .main .form-radio .radio-label .article .price {
  color: #D8D8D8;
  font-size: 1.6rem;
}
.form-container .card .main .form-radio input[type='radio']:checked + .radio-label .dress {
  border: 0.1rem solid #D42F1D;
}
.form-container .card .main .form-radio input[type='radio']:checked + .radio-label .dress:after {
  opacity: 1;
}
.form-container .card .main .form-radio input[type='radio']:checked + .radio-label .price {
  color: #D42F1D !important;
}
.form-container .card .main .form-radio input[type='radio']:disabled + .radio-label .text {
  color: #D8D8D8;
}
.form-container .card .main .area {
  margin-top: 4rem;
}
.form-container .card .main .area .label-title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  display: block;
}
.form-container .card .main .area .choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-container .card .main .area .choice .relate {
  position: relative;
  width: 13rem;
  height: 4rem;
  margin-bottom: 1rem;
}
.form-container .card .main .area .choice .relate select {
  width: 100%;
  height: 100%;
  border: 0.1rem solid #A7A7A7;
  border-radius: 0.4rem;
  text-align: left;
  font-size: 1.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.form-container .card .main .area .choice .relate:last-child {
  width: 100%;
}
.form-container .card .main .address {
  display: flex;
  align-items: center;
}
.form-container .card .main .address .form-control {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #A7A7A7;
  padding: 0 2rem;
  font-size: 1.6rem;
  flex-grow: 1;
  width: 100%;
}
.form-container .card .main .form-store {
  margin-top: 2rem;
}
.form-container .card .main .form-store .store-shop .store-item {
  margin-bottom: 0.8rem;
  padding-bottom: 0.8rem;
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid #D8D8D8;
}
.form-container .card .main .form-store .store-shop .store-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.form-container .card .main .form-store .store-shop .marquee {
  display: flex;
}
.form-container .card .main .form-store .store-shop .marquee .dress {
  width: 1.8rem;
  height: 1.8rem;
  opacity: 1;
  border: 0.1rem solid #D8D8D8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}
.form-container .card .main .form-store .store-shop .marquee .dress:after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #D42F1D;
  opacity: 0;
}
.form-container .card .main .form-store .store-shop .marquee .store-info {
  background-image: url(/static/img/711.jpg);
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
  background-position: 0 0.1rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  margin-left: 1rem;
  font-size: 1.6rem;
}
.form-container .card .main .form-store .store-shop .marquee .store-info .store-name {
  margin-top: -0.2rem;
}
.form-container .card .main .form-store .store-shop .marquee .store-info .store-address {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.2rem;
}
.form-container .card .main .form-store .store-shop input[type='radio'] {
  display: none;
}
.form-container .card .main .form-store .store-shop input[type='radio']:checked + .marquee .dress {
  border: 0.1rem solid #D42F1D;
}
.form-container .card .main .form-store .store-shop input[type='radio']:checked + .marquee .dress:after {
  opacity: 1;
}
.form-container .card .main .form-store .store-shop input[type='radio']:checked + .marquee .price {
  color: #D42F1D !important;
}
.form-container .card .main .form-store .store-shop input[type='radio']:disabled + .radio-label .text {
  color: #D8D8D8;
}
.form-container .card .main .amount {
  font-size: 1.6rem;
}
.form-container .card .main .amount .red {
  color: #D42F1D;
}
.form-container .card .main .amount .goods {
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #D8D8D8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-container .card .main .amount .goods .name {
  width: 16rem;
}
.form-container .card .main .amount .count {
  padding: 2rem 3rem;
  border-bottom: 0.1rem solid #D8D8D8;
}
.form-container .card .main .amount .count dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.form-container .card .main .amount .count dl:last-child {
  margin-bottom: 0;
}
.form-container .card .main .amount .count dl dt {
  color: #D8D8D8;
  font-size: 1.4rem;
}
.form-container .card .main .amount .count dl dd {
  font-size: 1.4rem;
}
.form-container .card .main .amount .total {
  padding: 2rem 3rem;
  text-align: right;
  font-size: 1.6rem;
}
.form-container .btn-main {
  margin-top: 4rem;
}
.form-container .btn-main .law {
  padding: 0 1.5rem;
  margin-bottom: 3rem;
}
.form-container .btn-main .law .group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}
.form-container .btn-main .law .group input {
  flex-shrink: 0;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 0.1rem;
  margin-right: 0.6rem;
}
.form-container .btn-main .form-btn {
  width: 100%;
  height: 4.8rem;
  background: #0078A3;
  border-radius: 0.8rem;
  opacity: 1;
  color: #fff;
  border: none;
  font-size: 1.6rem;
}
.success {
  width: 100%;
  text-align: center;
  padding: 0 1.5rem;
}
.success .ico {
  color: #D42F1D;
  margin-bottom: 3.6rem;
}
.success .ico i {
  font-size: 6rem;
}
.success .text {
  font-size: 1.8rem;
}
.success .home-btn {
  margin-top: 2rem;
  width: 100%;
  height: 4.8rem;
  line-height: 4.8rem;
  background: #0078A3;
  border-radius: 0.8rem;
  opacity: 1;
  display: block;
  color: #fff;
  font-size: 1.6rem;
}
.success .order-btn {
  color: #0078A3;
  text-decoration: underline;
  font-size: 1.4rem;
  margin-top: 2rem;
  display: block;
}
/*# sourceMappingURL=checkout.css.map */