.breadcrumb{
    width: 100%;

}
.main{
    padding-bottom: 6rem;
    .news{
        width: 100%;
        margin: 0 auto;
        padding: 0 1.5rem;
        .item{
            background-color: #fff;
            box-shadow: 0 0.3rem 0.8rem rgba(33,33,33,0.2);
            margin-bottom: 3rem;
            border-radius: 0.4rem;
            cursor: pointer;
            width: 100%;
            overflow: hidden;
            .img-wrapper{
                width: 100%;
                min-height: 15rem;
                background-color: #ccc;
                overflow: hidden;
                img{
                    width: 100%;
                    height:100%;
                    display: block;
                }
            }
            .info{
                width: 100%;
                text-align: center;
                padding: 2rem 1.5rem;
                .new-title{
                    font-size: 1.8rem;
                    font-weight: 500;
                    margin-bottom: 1.5rem;
                }
                .new-desc{
                    font-size: 1.4rem;
                    color: #A1A1A1;
                    margin-bottom: 1.5rem;
                }
                .go{
                    text-align: center;
                    font-size: 1.4rem;
                    a{
                        color: #0078A3;
                        text-decoration: underline;

                    }
                }

            }
        }

    }
}

.popularity{
    width: 280px;
    .popularity-row {
        width: 280px;
        border-radius: 6px;
        margin-bottom: 60px;
        .box-header {
            margin-bottom: 15px;
            .title {
                font-size: 20px;
                color: #000;
            }
        }
        .popularity-product {
            background: #fff;
            padding: 32px 16px;
            border-radius: 20px;
            .list-item {
                margin-bottom: 32px;
                a {
                    color: #000;
                    font-size: 14px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .popularity-item {
                margin-bottom: 32px;
                .product {
                    display: flex;
                    .popularity-item-img {
                        float: left;
                        img {
                            width: 80px;
                        }
                    }
                    .new-name {
                        align-self: center;
                        margin-left: 8px;
                    }
                }
            }
        }


    }
}
