body {
  text-rendering: optimizeLegibility;
  background-color: var(--back-color);
  color: #333;
  position: relative;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.5;
}
.global-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 1;
  display: none;
}
._show_loading {
  overflow: hidden;
}
._show_loading:before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  top: 0;
  left: 0;
  z-index: 9;
}
._show_loading .global-loading {
  display: block;
}
@media screen and (min-width: 1024px) {
  .pc-hide {
    display: none;
  }
}
.container {
  position: relative;
  padding-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .container {
    overflow: hidden;
    padding-bottom: 60px;
    z-index: 2;
  }
}
.container:before {
  content: '';
  width: 98vw;
  height: 440px;
  background-color: var(--section-back-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .container:before {
    width: 100vw;
    height: 65vh;
    transform: skewY(-12.5deg);
    transform-origin: 0 0;
  }
}
.container.no-curtain:before {
  content: unset;
}
.container .intro {
  width: 80vw;
  margin: 0 auto;
  padding: 65px 0 60px;
  color: #fff;
  position: relative;
  z-index: 2;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .container .intro {
    width: 90vw;
    padding: 20px 0;
  }
}
.container .intro .text {
  text-align: left;
  font-size: 16px;
  line-height: 2;
  font-weight: 500;
}
.container .intro .title {
  font-size: 42px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .container .intro .title {
    font-size: 22px;
  }
}
.container .intro .sub {
  opacity: 0.15;
}
@media screen and (max-width: 768px) {
  .container .intro .sub {
    font-size: 14px;
  }
}
.container .main {
  position: relative;
  z-index: 2;
  width: 90vw;
  margin: 0 auto;
}
.container .main .wrap {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 80px 15% 100px;
}
@media screen and (max-width: 1024px) {
  .container .main .wrap {
    padding: 10% 4%;
  }
}
.upward {
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
header {
  width: 96vw;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  position: fixed;
  top: 0.5vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
header.ef {
  top: -100px;
}
header.shown {
  top: 0.5vw;
}
header.fixed {
  width: 100vw;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  top: 0;
  left: 0;
  transform: translateX(0);
  border-radius: 0;
}
header.sticky {
  width: 100vw;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  top: 0;
  left: 0;
  transform: translateX(0);
  border-radius: 0;
  position: sticky;
  /*        margin-bottom: 40px;*/
}
@media screen and (max-width: 768px) {
  header {
    width: 100vw;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    top: 0!important;
    left: 0!important;
    transform: translateX(0) !important;
    border-radius: 0;
  }
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: unset;
  width: 100%;
  background: #FFFFFF;
  padding-left: 28px;
}
@media screen and (max-width: 768px) {
  header .wrapper {
    height: 60px;
    padding-left: 15px;
  }
}
header .logo-sec img {
  width: 60%;
}
header .drawer-btn {
  display: none;
}
@media screen and (max-width: 1024px) {
  header .drawer-btn {
    display: flex;
    width: 35vw;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  header .drawer-btn i {
    font-size: 24px;
    color: #fff;
    position: relative;
    z-index: 2;
  }
  header .drawer-btn:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transform: translate(0, 0) skewX(-20deg);
    transform-origin: bottom left;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
header .nav-sec {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 980px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (max-width: 1024px) {
  header .nav-sec {
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: var(--main-color);
    top: 60px;
    left: 0;
    height: 0;
    padding: 0 10px;
    overflow: hidden;
    justify-content: flex-start;
  }
  header .nav-sec.m-show {
    height: calc(100vh - 60px);
  }
}
header .nav-sec .online:last-child {
  transform: translate(0, 0) skewX(-20deg);
  transform-origin: bottom left;
  overflow: hidden;
  width: 180px;
  flex-shrink: 0;
}
@media screen and (max-width: 1024px) {
  header .nav-sec .online:last-child {
    transform: translate(0, 0) skewX(0);
    margin: 30px auto ;
    width: 300px;
    height: 60px;
  }
}
header .nav-sec .online a {
  display: flex;
  background-color: var(--main-color);
  transform: translate(0, 0) skewX(20deg);
  transform-origin: bottom left;
  color: #fff;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (max-width: 1024px) {
  header .nav-sec .online a {
    background-color: #fff;
    color: var(--main-color);
    transform: translate(0, 0) skewX(0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header .nav-sec .online a:hover {
  background-color: var(--darken-main-color);
  color: rgba(255, 255, 255, 0.2);
}
header .nav-sec .base {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-right: 40px;
}
@media screen and (max-width: 1024px) {
  header .nav-sec .base {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 0;
    height: auto;
  }
}
header .nav-sec .base li {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  header .nav-sec .base li {
    width: calc(50% - 5px);
    height: 60px;
  }
}
header .nav-sec .base li .base-link {
  color: #3D3D3D;
  width: 100%;
  height: 100%;
  font-size: 15px;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (max-width: 1024px) {
  header .nav-sec .base li .base-link {
    color: #fff;
    justify-content: flex-start;
    padding: 0 2vw;
  }
}
header .nav-sec .base li .base-link:hover {
  color: var(--main-color);
}
@media screen and (max-width: 1024px) {
  header .nav-sec .base li .base-link:hover {
    color: #fff;
  }
}
header .nav-sec .base li .base-link:hover.online {
  color: #fff;
}
header .nav-sec .base li .base-link:hover.online:after {
  content: unset;
}
@media screen and (max-width: 1024px) {
  header .nav-sec .base li .base-link:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.12);
    bottom: 0;
    left: 0;
  }
}
@media screen and (max-width: 1024px) {
  header .nav-sec .base li .base-link:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 5px;
    border-color: transparent transparent transparent white;
  }
}
header .nav-sec .base li .base-link.activate {
  color: var(--main-color);
}
@media screen and (max-width: 1024px) {
  header .nav-sec .base li .base-link.activate {
    color: #fff;
  }
}
header .nav-sec .base li .base-link.activate:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  header .nav-sec .base li .base-link.activate:after {
    height: 1px;
    background-color: #ffffff;
  }
}
.banner-section {
  position: relative;
  width: 90vw;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .banner-section {
    padding: 40px 0 40px 0;
    padding-bottom: 0;
  }
}
.banner-section .banner-content {
  position: relative;
  padding: 200px 0 100px 5vw;
  margin-bottom: 60px;
  height: 560px;
}
@media screen and (max-width: 768px) {
  .banner-section .banner-content {
    position: static;
    padding: 0;
    margin-bottom: 0;
    height: auto;
  }
}
.banner-section .banner-content:before {
  position: absolute;
  top: 0;
  right: -5vw;
  width: 70%;
  height: 100%;
  transform: skewX(-20deg);
  transform-origin: 100% 100%;
  z-index: 1;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .banner-section .banner-content:before {
    content: '';
    width: 100vw;
    height: 200px;
    background-color: #F7F7F7;
    position: absolute;
    top: 340px;
    left: -5vw;
    z-index: 2;
    /*transform: skewY(12.5deg);
                transform-origin: 100% 100%;*/
    transform: skewY(-12.5deg);
    transform-origin: 0 100%;
  }
}
.banner-section .banner-content .vis {
  position: absolute;
  top: 0;
  right: -5vw;
  width: 70%;
  height: 100%;
  transform: skewX(-20deg);
  transform-origin: 100% 100%;
  z-index: 1;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .banner-section .banner-content .vis {
    position: absolute;
    top: 0;
    right: -5vw;
    width: 100vw;
    height: 340px;
    transform: skewY(0);
    transform-origin: 100% 0;
    z-index: 1;
    margin-top: 60px;
  }
}
.banner-section .banner-content .vis .inner {
  width: 100%;
  height: 100%;
  background-position: 50% top;
  background-repeat: no-repeat;
  background-size: cover;
  transform: skewX(20deg);
  transform-origin: 100% 100%;
}
@media screen and (max-width: 768px) {
  .banner-section .banner-content .vis .inner {
    transform: skewY(0);
    transform-origin: 100% 0;
  }
}
.banner-section .banner-content .rep {
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .banner-section .banner-content .rep {
    font-size: 25px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 310px;
  }
}
.banner-section .banner-content .rep .rep-sub {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.3em;
}
.banner-section .banner-content .rep .rep-title {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 0.4em;
}
@media screen and (max-width: 768px) {
  .banner-section .banner-content .rep .rep-title {
    font-size: 25px;
  }
}
.breadcrumb {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  font-size: 14px;
  margin-top: 40px;
}
.breadcrumb li {
  color: #333;
}
.breadcrumb li a {
  color: #333;
}
.breadcrumb li:after {
  content: ">";
  padding: 0 8px;
}
.breadcrumb li:last-child {
  text-overflow: ellipsis;
  overflow: hidden;
}
.breadcrumb li:last-child:after {
  content: "";
}
.breadcrumb li.active {
  color: var(--main-color);
}
.breadcrumb li.active a {
  color: var(--main-color);
}
.division {
  width: 100%;
  height: 38px;
  position: relative;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (max-width: 768px) {
  .division {
    height: 10px;
  }
}
.division:before {
  content: "";
  width: 100%;
  height: 300px;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(150px);
  z-index: 0;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (max-width: 768px) {
  .division:before {
    height: 500px;
    top: -100px;
    bottom: unset;
    transform: skewY(10deg);
  }
}
footer {
  width: 100%;
  background: var(--section-back-color);
  position: relative;
  overflow: hidden;
}
footer .footer-inner {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 90px 2vw 15px;
}
@media screen and (max-width: 1024px) {
  footer .footer-inner {
    padding: 10px 4vw 15px;
    display: block;
  }
}
footer .footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 5;
  width: 100%;
  padding-bottom: 70px;
}
@media screen and (max-width: 1024px) {
  footer .footer-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }
}
footer .footer-nav .footer-logo {
  width: 144px;
  margin-left: 0.9vw;
}
@media screen and (max-width: 1024px) {
  footer .footer-nav .footer-logo {
    width: 30vw;
    max-width: 144px;
    order: 3;
    margin-bottom: 10px;
  }
}
footer .footer-nav .footer-logo img {
  width: 100%;
}
footer .footer-nav .menu-list {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 45.3125%;
}
@media screen and (max-width: 1024px) {
  footer .footer-nav .menu-list {
    width: 100%;
    order: 1;
    margin-bottom: 20px;
  }
}
footer .footer-nav .menu-list li {
  width: 47.27273%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer-nav .menu-list li a {
  padding: 20px 30px 14px 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 1;
  position: relative;
  color: #fff;
}
footer .footer-nav .menu-list li a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 5px;
  border-color: transparent transparent transparent white;
}
footer .footer-nav .menu-list li a:hover {
  opacity: 0.5;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (max-width: 768px) {
  footer .footer-nav .menu-list li a {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
footer .footer-nav .office {
  width: 34%;
  font-size: 13px;
}
@media screen and (max-width: 1024px) {
  footer .footer-nav .office {
    width: 100%;
    order: 2;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-nav .office {
    font-size: 12px;
  }
}
footer .copyright {
  color: #fff;
  font-size: 14px;
  position: absolute;
  right: 40px;
  bottom: 10px;
  opacity: 0.5;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (max-width: 1024px) {
  footer .copyright {
    width: 100%;
    text-align: center;
    right: 50%;
    position: unset;
    font-size: 12px;
    padding: 0 26px;
    margin-bottom: 10px;
  }
}
footer .spot {
  font-size: 270px;
  font-weight: bold;
  color: #fff;
  opacity: 0.1;
  position: absolute;
  right: 40px;
  top: 0;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (max-width: 1024px) {
  footer .spot {
    font-size: 35vw;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
}
.lds-logo-lilly svg {
  fill: currentColor;
}
.loading-action-btn-disabled {
  opacity: 0.5 !important;
  cursor: no-drop;
}
.swal2-styled.swal2-confirm {
  background-color: var(--main-color) !important;
}
.swal2-styled.swal2-confirm:focus {
  box-shadow: unset!important;
}
.guide-scroll {
  position: absolute;
  right: 60px;
  bottom: 100px;
  line-height: 1;
  opacity: 1;
  transition: all 0.8s 2.6s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 3;
}
@media screen and (max-width: 1024px) {
  .guide-scroll {
    right: 0px;
    bottom: 0;
  }
}
.guide-scroll p {
  letter-spacing: 0.25em;
  line-height: 1;
  font-size: 13px;
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  writing-mode: vertical-lr;
}
@media screen and (max-width: 1024px) {
  .guide-scroll p {
    font-size: 12px;
  }
}
.guide-scroll .roll {
  transform: rotate(90deg) translate(-148px, 4px);
}
.guide-scroll .roll::before,
.guide-scroll .roll::after {
  content: '';
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  bottom: 3px;
  transform-origin: 0 0;
}
.guide-scroll .roll::before {
  width: 0px;
  transform: rotate(-45deg);
  animation: scroll_2 1.5s linear infinite;
}
.guide-scroll .roll::after {
  animation: scroll_1 1.5s linear infinite;
}
@keyframes scroll_1 {
  0% {
    width: 0;
    left: 70px;
  }
  30% {
    width: 70px;
    left: 0;
  }
  60% {
    width: 70px;
    left: 0;
  }
  80% {
    width: 0;
    left: 0;
  }
  100% {
    width: 0;
    left: 0;
  }
}
@keyframes scroll_2 {
  0% {
    width: 0;
  }
  30% {
    width: 0;
  }
  38% {
    width: 7px;
    left: 0;
    bottom: 3px;
  }
  80% {
    width: 7px;
    left: 0;
    bottom: 3px;
  }
  90% {
    width: 0;
    left: 4.95px;
    bottom: 7.95px;
  }
  100% {
    width: 0;
    left: 4.95px;
    bottom: 7.95px;
  }
}
.elevator {
  background-color: var(--main-color);
  position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 10;
  transition-duration: 300ms;
  padding: 10px 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: translateX(0);
  width: 34px;
}
@media screen and (min-width: 768px) {
  .elevator {
    position: fixed;
    bottom: 100px;
  }
}
.elevator.slipOut {
  transform: translateX(100%);
  opacity: 0;
}
.elevator .p1 {
  letter-spacing: 0.25em;
  font-size: 14px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  writing-mode: vertical-lr;
  margin: 0 auto;
  margin-bottom: 4px;
}
.elevator .ico {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
}
.elevator .ico i {
  font-size: 26px;
}
.form-btn {
  width: 340px;
  height: 60px;
  margin: 0 auto;
  margin-top: 40px;
  border: none;
}
.form-btn div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 6px;
}
.form-btn div p {
  color: white;
  line-height: 1;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15em;
  padding-right: 50px;
  position: relative;
}
.form-btn div p:before,
.form-btn div p:after {
  content: '';
  height: 1px;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0.25em;
  transform-origin: 100% 100%;
}
.form-btn div p:before {
  width: 7px;
  transform: rotate(45deg);
}
.form-btn div p:after {
  width: 40px;
}
.btn div,
.btn a {
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn div p,
.btn a p {
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn div p:after,
.btn a p:after {
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn div:hover,
.btn a:hover {
  background-color: var(--darken-main-color) !important;
}
.btn div:hover p,
.btn a:hover p {
  padding-right: 70px!important;
}
.btn div:hover p:after,
.btn a:hover p:after {
  width: 60px!important;
}
.g-icons {
  display: flex;
  flex-wrap: wrap;
}
.g-icons li {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.g-icons li .p1 {
  border-radius: 50%;
  border: 1px solid var(--main-color);
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}
.g-icons li .p1 i {
  font-size: 16px;
}
.g-icons li .p2 {
  margin-left: 8px;
  color: #222;
  font-size: 13px;
}
@media screen and (max-width: 1024px) {
  .g-icons li .p2 {
    font-size: 13px;
  }
}
