.container .main .wrap {
  padding: 80px 0 100px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .container .main .wrap {
    padding: 0;
  }
}
.goods-body {
  margin: 0 auto;
}
.goods-body .goods {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: 1200px;
}
@media screen and (max-width: 1024px) {
  .goods-body .goods {
    flex-direction: column;
    margin-bottom: 60px;
    padding: 15px;
  }
}
.goods-body .goods .img-wrap {
  /* width: 40%; */
  max-width: 380px;
  min-width: 200px;
}
@media screen and (max-width: 1024px) {
  .goods-body .goods .img-wrap {
    width: 60%;
    margin: 0 auto;
    max-width: unset;
    min-width: unset;
  }
}
.goods-body .goods .img-wrap img {
  width: 100%;
}
.goods-body .goods .info-wrap {
  width: 50%;
  margin-left: 4vw;
  max-width: 580px;
}
@media screen and (max-width: 1024px) {
  .goods-body .goods .info-wrap {
    width: 68%;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .goods-body .goods .info-wrap {
    padding-left: 0;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
  }
}
.goods-body .goods .info-wrap .name {
  font-weight: 500;
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .goods-body .goods .info-wrap .name {
    font-size: 20px;
  }
}
.goods-body .goods .info-wrap .privacy {
  color: var(--main-color);
}
.goods-body .goods .info-wrap .spec {
  border: 1px solid #F5F5F5;
  padding: 24px;
  border-radius: 6px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .goods-body .goods .info-wrap .spec {
    padding: 12px;
  }
}
.goods-body .goods .info-wrap .spec .spec-item {
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
}
.goods-body .goods .info-wrap .spec .spec-item .head {
  width: 100px;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .goods-body .goods .info-wrap .spec .spec-item .head {
    width: 80px;
  }
}
.goods-body .goods .info-wrap .spec .spec-item .desc {
  color: #999;
}
.goods-body .goods .info-wrap .foot {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 30px;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .goods-body .goods .info-wrap .foot {
    margin-top: 20px;
  }
}
.goods-body .goods .info-wrap .foot .price .now {
  color: #FF2C2C;
  font-size: 20px;
}
.goods-body .goods .info-wrap .foot .price .market {
  color: #999;
  text-decoration: line-through;
  margin-left: 6px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .goods-body .goods .info-wrap .foot .price .market {
    margin-left: 0;
    font-size: 13px;
  }
}
.goods-body .goods .info-wrap .foot .go-btn {
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 6px;
}
@media screen and (max-width: 768px) {
  .goods-body .goods .info-wrap .foot .go-btn {
    width: 170px;
  }
}
.goods-body .goods .info-wrap .foot .go-btn:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.goods-body .info-page {
  margin: 0 auto;
  max-width: 1024px;
  overflow: hidden;
  /* .title{
            font-size: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid var(--main-color);
            width: fit-content;
            margin: 0 auto;
            padding: 6px 12px;
        } */
}
.goods-body .info-page .title-box {
  display: flex;
  width: 50%;
  margin: 0 auto 20px;
  align-items: baseline;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .goods-body .info-page .title-box {
    width: 100%;
  }
  .goods-body .info-page .title-box:after {
    content: "";
    width: 40px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -7px;
    left: 16%;
    transition: all 0.3s;
    transform: translateX(-50%);
  }
}
.goods-body .info-page .title-box:after {
  content: "";
  width: 40px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -7px;
  left: 21%;
  transition: all 0.3s;
}
@media screen and (max-width: 1024px) {
  .goods-body .info-page .title-box:after {
    left: 25%;
    transform: translateX(-50%);
  }
}
.goods-body .info-page .title-box .title {
  cursor: pointer;
  font-size: 24px;
  flex: 1;
  text-align: center;
  transition: all 0.3s;
  transform-origin: bottom;
}
@media screen and (max-width: 768px) {
  .goods-body .info-page .title-box .title {
    font-size: 15px;
  }
}
.goods-body .info-page .title-box .title-on {
  transform: scale(1.2);
}
.goods-body .info-page .title-bar2:after {
  left: 71%;
}
@media screen and (max-width: 1024px) {
  .goods-body .info-page .title-bar2:after {
    left: 75%;
  }
}
.goods-body .info-page .title-bar3:after {
  left: 407px;
}
@media screen and (max-width: 1024px) {
  .goods-body .info-page .title-bar3:after {
    left: 83%;
  }
}
.goods-body .info-page .pagebox {
  border-top: 1px solid #eee;
  overflow: hidden;
  display: flex;
  transition: all 0.4s;
  width: 200%;
}
@media screen and (min-width: 1024px) {
  .goods-body .info-page .pagebox {
    min-width: 1040px;
  }
}
.goods-body .info-page .pagebox .page {
  /* padding: 0 15px; */
  transition: all 0.4s;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .goods-body .info-page .pagebox .page {
    max-width: 1040px;
    padding: 30px;
  }
}
.goods-body .info-page .pagebox .page .info-item-header {
  border-bottom: 1px solid #E6E6E6;
}
.goods-body .info-page .pagebox .page .info-item-header span {
  display: inline-block;
  color: var(--main-color);
  font-size: 16px;
  padding: 8px 21px;
  background: #F9F9F9;
  border-radius: 10px 10px 0 0;
}
.goods-body .info-page .pagebox .page .content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 15px;
}
@media screen and (max-width: 768px) {
  .goods-body .info-page .pagebox .page .content {
    flex-direction: column-reverse;
    margin-top: 48px;
  }
}
.goods-body .info-page .pagebox .page .content .desc-images {
  width: 48%;
}
@media screen and (max-width: 768px) {
  .goods-body .info-page .pagebox .page .content .desc-images {
    width: 100%;
  }
}
.goods-body .info-page .pagebox .page .content .desc-images img {
  width: 100%;
  display: block;
}
.goods-body .info-page .pagebox .page .content .desc-info {
  width: 48%;
}
@media screen and (max-width: 768px) {
  .goods-body .info-page .pagebox .page .content .desc-info {
    width: 100%;
  }
}
.goods-body .info-page .pagebox .page .content .desc-info .info-item {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .goods-body .info-page .pagebox .page .content .desc-info .info-item {
    margin-bottom: 20px;
  }
}
.goods-body .info-page .pagebox .page .content .desc-info .info-item .info-item-desc {
  padding: 15px 20px;
  color: #333;
  font-size: 14px;
}
.goods-body .info-page .pagebox .page .comment-box {
  margin-top: 10px;
}
@media screen and (max-width: 1024px) {
  .goods-body .info-page .pagebox .page .comment-box {
    margin-top: 30px;
  }
}
.goods-body .info-page .pagebox .page .comment-box .comment .stars {
  display: flex;
  align-items: center;
  justify-content: center;
}
.goods-body .info-page .pagebox .page .comment-box .comment .stars i {
  font-size: 18px;
  margin-right: 2px;
  color: var(--main-color);
}
.goods-body .info-page .pagebox .page .comment-box .comment .stars.pointer i {
  cursor: pointer;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg {
  margin-bottom: 40px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap {
    flex-direction: column;
  }
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box {
  display: flex;
  flex: 1;
  align-items: flex-start;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box .total {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box .total {
    padding: 0 20px 0 10px;
  }
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box .total .score-desc {
  font-size: 14px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box .total .score {
  font-size: 56px;
  color: var(--main-color);
  line-height: 56px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box .total .text {
  font-size: 14px;
  margin-top: 10px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box .total .stars i {
  font-size: 20px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box .total .stars i:last-child {
  margin-right: 0;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box .histogram .row {
  display: grid;
  align-items: center;
  height: 22px;
  grid-template-columns: 1fr 2fr 0.5fr 1fr;
  margin: 0.1rem 0;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box .histogram .row .stars i {
  font-size: 14px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box .histogram .row .bar {
  width: 100%;
  height: 8px;
  margin-left: 0.1rem;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.15);
  overflow: hidden;
  min-width: 70px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box .histogram .row .bar .progress {
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  display: block;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box .histogram .row .percentage,
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .total-box .histogram .row .frequency {
  font-size: 12px;
  margin-left: 6px;
  text-align: left;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .label-sec {
  flex: 1;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .label-sec .label-box {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-left: 10px;
  flex-wrap: wrap;
  flex: 1;
}
@media screen and (max-width: 1024px) {
  .goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .label-sec .label-box {
    margin-left: 0;
    padding: 0 10px;
  }
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .label-sec .label-box .label {
  font-size: 13px;
  /* background-color: #ffe8d3; */
  background-color: #f5f5f5;
  border-radius: 0.3rem;
  text-align: center;
  padding: 4px 12px;
  /* border: 1px solid #ffd2a9; */
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .write-wrap {
  opacity: 0;
  height: 0;
  transition: all 0.2s ease-in;
  overflow: hidden;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .write-wrap .form-group {
  margin-bottom: 20px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .write-wrap .form-group input {
  appearance: none;
  -webkit-appearance: none;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .write-wrap .form-group .lab {
  font-size: 14px;
  margin-bottom: 8px;
  white-space: nowrap;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .write-wrap .form-group .stars {
  justify-content: flex-start;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .write-wrap .form-group .form-control {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 100%;
  padding: 12px 40px 12px;
  outline: 0;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 99px;
  font-size: 0.3rem;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .write-wrap textarea {
  width: 100%;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px !important;
  padding: 16px 20px !important;
  box-sizing: border-box;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "YaHei Consolas Hybrid", Consolas, "微软雅黑", "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, Monaco, courier, monospace;
  font-size: 0.3rem;
  letter-spacing: 0.5px;
  height: 100px !important;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .write-wrap .submit-btn {
  width: 50%;
  height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  border: none;
  border-radius: 99px;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .write-wrap .submit-btn:hover {
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .write-wrap.-show {
  opacity: 1;
  border-top: 1px solid #eee;
  padding: 0.5rem 0.2rem 0;
  height: 392px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .actions {
  margin: 0 auto;
  width: 50%;
  transition: all 0.3s;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .actions .write-btn {
  width: 100%;
  height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  border-radius: 99px;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
  cursor: pointer;
  font-size: 0.3rem;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .actions .write-btn .writeicon {
  width: 0.3rem;
  height: 0.3rem;
  fill: #FFF;
  margin: 2px 0 0 6px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .actions:hover .write-btn {
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .actions .write-cancel {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  text-align: center;
  height: 36px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.goods-body .info-page .pagebox .page .comment-box .comment .widg .amount-wrap .actions .write-cancel:hover {
  color: rgba(255, 255, 255, 0.9);
}
.goods-body .info-page .pagebox .page .comment-box .comment .history {
  /* .title{
                                font-size: 20px;
                                font-weight: 500;
                                border-left: 4px solid #FFF;
                                padding-left: 10px;
                            } */
  padding: 0 15px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .label-sec {
  width: 100%;
  margin: 2rem 0 3rem;
  overflow: hidden;
  position: relative;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .label-sec:before {
  content: "";
  display: block;
  height: 100%;
  width: 10%;
  background: linear-gradient(90deg, #fff6ed, rgba(255, 255, 255, 0));
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .label-sec:after {
  content: "";
  display: block;
  height: 100%;
  width: 10%;
  background: linear-gradient(-90deg, #fff6ed, rgba(255, 255, 255, 0));
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .label-sec .label-loop {
  display: flex;
  white-space: nowrap;
  margin-top: 0.6rem;
  width: 600%;
}
@keyframes loop {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .label-sec .label-loop:nth-child(1) {
  animation: loop 30s linear infinite;
  margin-top: 0;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .label-sec .label-loop:nth-child(2) {
  animation: loop 50s linear infinite;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .label-sec .label-loop:nth-child(3) {
  animation: loop 20s linear infinite;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .label-sec .label-loop .label-box {
  display: flex;
  width: 300%;
  gap: 10px;
  margin-left: 10px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .label-sec .label-loop .label-box .label {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  /* background-color: #ffe8d3; */
  background-color: #fdefe2;
  border-radius: 0.6rem;
  text-align: center;
  padding: 0.6rem 0;
  color: #e87c1a;
  /* border: 1px solid #ffd2a9; */
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews {
  position: relative;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .loading.active {
  display: flex;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev {
  border-bottom: 1px solid #E6E6E6;
  padding: 20px 10px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .like-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .like-box .doyou {
  font-size: 12px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .like-box .up {
  width: 1.4rem;
  height: 1.4rem;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .like-box .up-num {
  font-size: 12px;
  font-weight: 500;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .name-box {
  display: flex;
  justify-content: space-between;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .name-box .nickname {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .name-box .nickname .fans {
  color: #ffbf04;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 4px;
  background: linear-gradient(135deg, #737373, #000000);
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .name-box .nickname .new {
  color: #fffd4f;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 4px;
  background: linear-gradient(135deg, #00f892, #00ce48);
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .name-box .star-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.14rem;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .name-box .star-box i {
  font-size: 14px;
  margin-right: 3px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .name-box .star-box i:last-child {
  margin-right: 0;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .name-box .star-box .date {
  font-size: 14px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .name-box .today {
  font-size: 12px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .buy-text {
  margin-top: 0.2rem;
  font-size: 12px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .content {
  margin: 6px 0;
  font-size: 15px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .content-pic {
  height: 200px;
}
@media screen and (max-width: 768px) {
  .goods-body .info-page .pagebox .page .comment-box .comment .history .reviews .rev .content-pic {
    flex-direction: column-reverse;
    height: 120px;
  }
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .paging {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 30px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .paging .prev {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .paging .prev .previcon {
  width: 18px;
  height: 18px;
  transform: translate(-50%, -50%) scaleX(-1);
  position: absolute;
  top: 52%;
  left: 48%;
  fill: #000;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .paging .prev:hover {
  background-color: #000;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .paging .prev:hover .previcon {
  fill: #FFF;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .paging .disabled {
  opacity: 0.1;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .paging .active {
  transform: scale(1.2);
  border-bottom: 1px solid #000;
  transition: all 0.3s;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .paging .active:hover {
  color: var(--main-color);
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .paging .next {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .paging .next .nexticon {
  width: 18px;
  height: 18px;
  fill: #000;
  position: absolute;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .paging .next:hover {
  background-color: #000;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .paging .next:hover .nexticon {
  fill: #FFF;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .lord-more {
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  border-radius: 99px;
  transition: all 0.3s;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .lord-more:active {
  border: 2px solid rgba(255, 255, 255, 0.9);
  letter-spacing: 3px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .switch {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 30px;
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .switch .prev,
.goods-body .info-page .pagebox .page .comment-box .comment .history .switch .next {
  width: 20%;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  border-radius: 0.6rem;
  color: #FFF;
  background-color: var(--main-color);
}
.goods-body .info-page .pagebox .page .comment-box .comment .history .switch .disabled {
  display: none;
}
.goods-body .info-page .pagebox .page1 {
  transition: all 0.4s;
  transform: translateX(0);
}
.goods-body .info-page .pagebox .page2 {
  transition: all 0.4s;
  transform: translateX(-100%);
}
.goods-body .info-page .pagebox .page3 {
  transition: all 0.4s;
  transform: translateX(-200%);
}
@media screen and (max-width: 1024px) {
  .main {
    width: 100% !important;
  }
}
.sales-sec {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .sales-sec {
    margin-top: 4px;
  }
}
.sales-sec .sales-week {
  font-size: 12px;
}
.sales-sec .sales-week span {
  font-size: 13px;
  color: #10AD95;
  background-color: #eefffc;
  padding: 0 4px;
}
.sales-sec .order-views {
  position: relative;
  height: 20px;
  overflow: hidden;
  flex: 1;
}
.sales-sec .order-views .sales-swiper {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 1s 2s cubic-bezier(0.5, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.sales-sec .order-views .sales-swiper .viewtext {
  font-size: 12px;
  display: flex;
  align-items: center;
  height: 20px;
  color: #999;
}
@media (max-width: 768px) {
  .sales-sec .order-views .sales-swiper .viewtext {
    font-size: 11px;
  }
}
.sales-sec .order-views .sales-swiper .viewtext .viewicon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  fill: #999;
}
.sales-sec .order-views .sales-swiper .sales-now {
  display: inline-block;
  font-size: 12px;
  color: #10AD95;
  background-color: #eefffc;
  padding: 0 6px;
  border-radius: 99px;
  height: 20px;
  line-height: 20px;
}
@media (max-width: 768px) {
  .sales-sec .order-views .sales-swiper .sales-now {
    font-size: 11px;
  }
}
.ensures {
  color: #999;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-top: 4px;
}
.ensures .icons {
  margin-bottom: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  justify-content: space-between;
}
.ensures .icons:last-child {
  margin-bottom: 0;
}
.ensures .icons .ioc {
  display: flex;
  align-items: center;
  color: #000;
}
.ensures .icons .ico-sub {
  display: flex;
  align-items: center;
}
.ensures .icons .salesicon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  fill: #10AD95;
}
