.section{
    padding: 150px 0;
    position: relative;
    @media screen and (max-width: 1024px) {
        padding: 50px 0;
        overflow: hidden;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 98vw;
        height: 68%;
        background-color: var(--section-back-color);
        @media screen and (max-width: 1024px) {
            width: 100vw;
            height: 80vw;
            transform: skewY(12.5deg);
            transform-origin: 100% 100%;
        }
    }



    .section-inner{
        width: 90vw;
        margin: 0 auto;
        position: relative;
        h2 {
            position: absolute;
            top: -40px;
            left: 0;
            &.right{
                right: 0;
                left: unset;
                width: 56px;
                .en {
                    left: 100%!important;
                }
                .cn{
                    padding: 0!important;
                }
            }
            @media screen and (max-width: 1024px) {
                position: static;
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
            }
            .en {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                font-family: 'Roboto', sans-serif;
                font-weight: 800;
                font-size: 13px;
                color: rgba(255, 255, 255, 0.15);
                letter-spacing: 0.25em;
                line-height: 1;
                -webkit-writing-mode: vertical-rl;
                -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
                @media screen and (max-width: 1024px) {
                    display: block;
                    position: static;
                    transform: rotate(0) translate(0, 0);
                    text-align: center;
                    margin-bottom: 10px;
                    -webkit-writing-mode: horizontal-tb;
                    -ms-writing-mode: lr-tb;
                    writing-mode: horizontal-tb;
                }
            }
            .cn {
                font-weight: 400;
                font-size: 30px;
                color: white;
                -webkit-writing-mode: vertical-rl;
                -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
                letter-spacing: 0.38em;
                line-height: 1;
                padding-left: 28px;
                @media screen and (max-width: 1024px) {
                    font-size: 25px;
                    color: white;
                    -webkit-writing-mode: horizontal-tb;
                    -ms-writing-mode: lr-tb;
                    writing-mode: horizontal-tb;
                }
            }
        }

        .btn {
            width: 340px;
            height: 60px;
            margin: 0 auto;
            margin-top: 40px;
            a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--main-color);
                box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
                border-radius: 6px;
                p {
                    color: white;
                    line-height: 1;
                    font-size: 15px;
                    font-weight: 300;
                    letter-spacing: 0.15em;
                    padding-right: 50px;
                    position: relative;
                    &:before, &:after {
                        content: '';
                        height: 1px;
                        background-color: white;
                        position: absolute;
                        right: 0;
                        bottom: 0.25em;
                        transform-origin: 100% 100%;
                    }
                    &:before {
                        width: 7px;
                        transform: rotate(45deg);
                    }
                    &:after {
                        width: 40px;
                    }
                }

            }
        }
    }


    &.right{
        &:before {
            right: 0;
            left: unset;
        }
        .section-inner{
            h2 {
                right: 0;
                left: unset;
                width: 56px;
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
                .en {
                    left: 100%;
                }
                .cn{
                    padding: 0;
                }

            }
        }
    }

    .scroll-target{
        &.init{
            opacity: 0;
            transform: translateY(100px);
        }
        &.show{
            opacity: 1;
            transform: translateY(0);
            transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
    &.scroll-target{
        &.init{
            &:before{
                width: 0;
            }
        }
        &.show{
            &:before{
                width: 98vw;
                transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
    }
}


.carousel{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    @media screen and (max-width: 1024px) {
        flex-direction: column;
        height: auto;
        overflow: hidden;
        padding-top: 60px;
    }
    .picture{
        width: 0;
        height: 100%;
        transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);

        @media screen and (max-width: 1024px) {

            width: 135%;
            height: 52vh;
            transition:unset;
        }
        .swiper-container,.topic,.pic,.back{
            width: 100%;
            height: 100%;
            transition: all 1s 1s cubic-bezier(0.19, 1, 0.22, 1);
            @media screen and (max-width: 1024px) {
                transition: all 1s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        .swiper-container{
            transform: skewX(-20deg);
            transform-origin: 100% 0;

            @media screen and (max-width: 1024px) {

                transform: skewY(10deg);
                transform-origin: 100% 100%;
                height: 0;

            }
        }
        .topic{
            transform: skewX(20deg);
            transform-origin: 100% 0;

            @media screen and (max-width: 1024px) {
                transform: skewY(-10deg);
                transform-origin: 100% 100%;
            }
            .pic{


                .back{
                    background-size: cover;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    @media screen and (max-width: 1024px) {
                        height: 56vh;
                        background-position: 55% 50%;
                    }
                }
            }
        }


    }

    .abbr{
        padding-bottom: 40px;
        position: relative;
    }

    .information{
        flex-grow: 1;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        transition: all 1.3s 0.6s cubic-bezier(0.19, 1, 0.22, 1);
        transform: translateY(40px);
        opacity: 0;
        @media screen and (max-width: 1024px) {
            height: auto;
            margin-bottom: 40px;
        }
        .central{
            transform: translateX(-10vw);

            @media screen and (max-width: 1024px) {
                transform: translateX(0);
                margin: 0 auto;
                margin-top: -80px;
            }
        }
        .slogan{
            color: var(--main-color);
            transition: all 1s 1s cubic-bezier(0.19, 1, 0.22, 1);
            white-space: nowrap;

            .digit{
                font-size: 10vw;
                font-weight: 300;
                display: inline-flex;
                transition: all 1s 1s cubic-bezier(0.19, 1, 0.22, 1);
                @media screen and (max-width: 1024px) {
                    font-size: 90px;

                }
                &:first-child{
                    transform: translateY(-1vw)skewX(-10deg);
                    @media screen and (max-width: 768px) {
                        transform: translateY(-10px)skewX(-10deg);

                    }
                }
                &:nth-child(2){
                    transform: translate(-1vw,1vw)skewX(-8deg);
                    @media screen and (max-width: 1024px) {
                        transform: translate(-10px,10px)skewX(-8deg);

                    }
                }
            }
            .text{
                font-size: 2.8vw;
                font-weight: 300;
                display: inline-flex;
                transform: translate(-20px,24px);
                @media screen and (max-width: 1024px) {
                    font-size: 32px;
                    transform: translate(10px,18px);
                    margin-left: -28px;
                }

            }
        }

        .simple{
            color: var(--auxiliary-color);
            font-size: 2vw;
            white-space: nowrap;
            @media screen and (max-width: 1024px) {
                font-size: 18px;
            }
        }
        .pills{
            position: absolute;
            top: 4vw;
            left: 20vw;
            @media screen and (max-width: 1024px) {
                top: 30px;
                left: 180px;
            }

            img{
                width: 9vw;
                @media screen and (max-width: 1024px) {
                    width: 90px;

                }
            }
        }

    }

    .privacy{
        position: absolute;
        bottom: 20px;

        right: 0;
        width: 100%;

        color: var(--main-color);
        font-size: 14px;
        transform: translateX(-15vw);
        @media screen and (max-width: 1024px) {
            font-size: 12px;
            left: -18vw;
            transform: translateX(0);
            width: 312px;
            margin: 0 auto;
        }
        @media screen and (max-width: 1024px) {
            position: unset;
            text-align: center;

        }
    }

    .scroll{
        position: absolute;
        right: 60px;
        bottom: 100px;
        line-height: 1;
        opacity: 1;
        transition: all 0.8s 2.6s cubic-bezier(0.19, 1, 0.22, 1);
        @media screen and (max-width: 1024px) {
            right: 15px;
            bottom: 88px;
        }
        p{

            letter-spacing: 0.25em;
            line-height: 1;
            font-size: 13px;
            color: var(--main-color);
            font-family: 'Roboto', sans-serif;
            font-weight: 800;
            writing-mode: vertical-lr;
            @media screen and (max-width: 1024px) {
                font-size: 12px;
            }
        }
        .roll{
            transform: rotate(-90deg)translate(-70px,5px);
            &::before,&::after {
                content: '';
                height: 1px;
                background-color: var(--main-color);
                position: absolute;
                left: 0;
                bottom: 3px;
                transform-origin: 0 0;
            }

            &::before {
                width: 0px;
                transform: rotate(-45deg);
                animation: scroll_2 1.5s linear infinite;
            }

            &::after {
                animation: scroll_1 1.5s linear infinite;
            }
        }

        @keyframes scroll_1 {
            0% {
                width: 0;
                left: 70px; }
            30% {
                width: 70px;
                left: 0; }
            60% {
                width: 70px;
                left: 0; }
            80% {
                width: 0;
                left: 0; }
            100% {
                width: 0;
                left: 0; } }
        @keyframes scroll_2 {
            0% {
                width: 0; }
            30% {
                width: 0; }
            38% {
                width: 7px;
                left: 0;
                bottom: 3px;
            }
            80% {
                width: 7px;
                left: 0;
                bottom: 3px; }
            90% {
                width: 0;
                left: 4.95px;
                bottom: 7.95px; }
            100% {
                width: 0;
                left: 4.95px;
                bottom: 7.95px;
            }
        }
    }

    &.shown{
        .picture{
            width: 70%;

            @media screen and (max-width: 1024px) {
                width: 135%;
            }
            .swiper-container{

                @media screen and (max-width: 1024px) {
                    transform: skewY(10deg);
                    transform-origin: 100% 100%;
                    height: 56vh;
                }
            }
        }
        .information{
            transform: translateY(0);
            opacity: 1;

        }


    }

}

.section-about{
    padding: 250px 0;
    position: relative;

    @media screen and (max-width: 1024px) {
        padding: 80px 0;
        &:before {
            content: '';
            width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #f2f2f2;
        }
    }
    .scroll-target{
        &.init{
            opacity: 0;
            transform: translateY(100px);
        }
        &.show{
            opacity: 1;
            transform: translateY(0);
            transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
    .section-inner {
        width: 90vw;
        margin: 0 auto;
        position: relative;

        h2 {
            position: absolute;
            top: 0;
            left: 0;
            &.right{
                right: 0;
                left: unset;
                width: 56px;
                .en {
                    left: 100%!important;
                }
                .cn{
                    padding: 0!important;
                }
            }
            @media screen and (max-width: 1024px) {
                position: static!important;
                text-align: center!important;
                margin-bottom: 30px!important;
                width: 100% !important;
            }
            .en {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                font-family: 'Roboto', sans-serif;
                font-weight: 800;
                font-size: 13px;
                color: var(--main-color);
                letter-spacing: 0.25em;
                transform: rotate(-90deg) translateX(-100%);
                transform-origin: 0 0;
                line-height: 1;
                text-align: right;
                @media screen and (max-width: 1024px) {
                    position: static;
                    transform: rotate(0) translateX(0);
                    text-align: center;
                    display: block;
                    margin-bottom: 10px;
                }
            }
            .cn {
                display: inline-block;
                position: relative;
                font-weight: 400;
                font-size: 28px;
                -webkit-writing-mode: vertical-rl;
                -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
                letter-spacing: 0.25em;
                line-height: 1;
                padding-left: 28px;
                @media screen and (max-width: 1024px) {
                    font-size: 25px;
                    -webkit-writing-mode: horizontal-tb;
                    -ms-writing-mode: lr-tb;
                    writing-mode: horizontal-tb;
                    padding-left: 0;
                }

            }
        }
        .statement {
            width: 720px;
            margin: 0 auto 60px;
            @media screen and (max-width: 1024px) {
                width: 100%;
                margin: 0 auto 30px;
            }
            .about-title {
                font-size: 20px;
                font-weight: 400;
                color: var(--main-color);
                letter-spacing: 0.15em;
                line-height: 1.7;
                margin-bottom: 20px;
                @media screen and (max-width: 1024px) {
                    font-size: 18px;
                }
            }
            .about-text{
                font-weight: lighter;
            }
        }

    }
}

.product-section{
    .section-inner {
        .row-wrapper{
            .row{
                /*box-shadow: 0px 0px 6px 3px rgb(0 0 0 / 20%);*/
                background-color: white;
                width: 85%;
                margin-bottom: 60px;
                &:nth-child(odd){
                    margin-left: 15%;
                    @media screen and (max-width: 1024px) {
                        margin-left: 0;
                    }
                }
                @media screen and (max-width: 1024px) {
                    width: 100%;
                    margin-bottom: 0;
                    box-shadow: none;
                }
                ul {
                    display: flex;
                    @media screen and (max-width: 1024px) {
                        flex-wrap: wrap;
                    }
                    li{
                        width: 25%;
                        @media screen and (max-width: 1024px) {
                            width: 50%;
                        }
                        &:not(:last-child){
                            border-right: 1px solid rgba(0, 0, 0, 0.12);
                            @media screen and (max-width: 1024px) {
                                border: none;
                            }
                        }
                        .goods {
                            display: block;
                            padding: 12% 10%;
                            transition: all 0.3s;
                            text-align: center;
                            img{
                                width: 100%;
                            }
                            figcaption{
                                margin-top: 10px;
                                .name{
                                    font-size: 16px;
                                    color: #000;
                                    font-weight: 500;
                                    margin-bottom: 10px;
                                }
                                .spec{
                                    font-size: 14px;
                                    color: #999;
                                    margin-bottom: 14px;
                                }

                                .price{
                                    margin-bottom: 10px;
                                    @media screen and (max-width: 1024px) {
                                        display: flex;
                                        flex-direction: column-reverse;
                                    }
                                    .now{
                                        color: #FE1010;
                                        font-size: 18px;
                                    }
                                    .market{
                                        color: #b3b3b3;
                                        font-size: 14px;
                                        margin-left: 6px;
                                        text-decoration: line-through;
                                    }
                                }
                                .go-btn{

                                    a {
                                        width: 160px;
                                        height: 32px;
                                        background: var(--main-color);
                                        border-radius: 6px;
                                        margin: 0 auto;
                                        color: #fff;
                                        display: flex;
                                        justify-content: center;
                                        font-weight: 300;
                                        align-items: center;
                                        @media screen and (max-width: 1024px) {
                                            width: 100%;
                                        }
                                        &:hover{
                                            color: rgba(255, 255, 255, 0.5);
                                            transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                                        }
                                    }
                                }
                                .secret{
                                    font-size: 12px;
                                    color: var(--main-color);
                                    margin-bottom: 10px;
                                    @media screen and (max-width: 1024px) {
                                        display: none;
                                    }
                                }
                            }

                        }
                    }
                }

                &:last-child{
                    box-shadow: none;
                    ul{
                        /*-webkit-mask: -webkit-gradient(linear,0% 0%,0% 92%,from(rgba(255,255,255,1)),to(rgba(255,255,255,0)));*/
                    }
                }
            }
        }

    }
}



.shipping-section{
    padding: 50px 0;
    margin-bottom: 100px;
    height: 300px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1024px) {
        padding: 50px 0;
        overflow: hidden;
        height: auto;
        display: block;
        margin-bottom: 60px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background-color: #f2f2f2;
        transform: skewX(20deg);
        transform-origin: 100% 100%;
        @media screen and (max-width: 1024px) {
            width: 100vw;
            height: 80vw;
            transform: skewY(12.5deg);
            transform-origin: 100% 100%;
        }
    }

    .section-inner{

        h2{
            .cn{
                color: #222;
            }
            .en{
                color: var(--main-color);
            }
        }
    }


    .main{
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15%;
        overflow: hidden;
        /*-webkit-mask: -webkit-gradient(linear,4% 0%,0% 0%,from(rgba(255,255,255,1)),to(rgba(255,255,255,0)));*/
        @media screen and (max-width: 1024px) {

            margin-top: 100px;
        }
        .js-marquee-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 1024px) {

                animation-duration: 326.8s!important;
            }

        }
        .loop{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @media screen and (max-width: 1024px) {
            /*display: block;
            margin-top: 40px;
            margin-left: 0;*/
            width: 100%;
            margin-left: 0;
        }

        .news{
            width: 28vw;
            padding: 0 40px;
            /*@media screen and (max-width: 1024px) {
                width: 100%;
                margin-bottom: 50px;
                padding: 0 20px;
            }*/
            @media screen and (max-width: 1024px) {
                width: 360px;
                flex-shrink: 0;
            }
            .cate{
                width: max-content;
                width: -moz-max-content;
                border: 1px solid var(--main-color);
                margin-bottom: 12px;
                text-align: center;
                padding: 2px 10px;
                display: block;
                color: var(--main-color);
                a{
                    display: block;
                    color: var(--main-color);
                }
            }

            .text{

                @media screen and (max-width: 1024px) {
                    font-size: 14px;
                }
            }

        }
    }
}

.section-works{

    &:before {

        height: 48%;

    }



    .section-inner {

    }

    .row-wrapper{
        .row {
            box-shadow: 0px 0px 6px 3px rgb(0 0 0 / 6%);
            background-color: white;
            width: 85%;
            margin-bottom: 60px;
            margin-left: 15%;
            @media screen and (max-width: 1024px) {
                box-shadow: none;
                background-color: transparent;
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
                position: relative;
            }
            ul{
                display: flex;
                @media screen and (max-width: 1024px) {
                    display: block;
                }
                li{
                    width: 3333.33333%;
                    @media screen and (max-width: 1024px) {
                        background-color: white;
                        width: 100%;
                        box-shadow: 0px 0px 6px 3px rgb(0 0 0 / 20%);
                    }
                    &:not(:last-child) {
                        border-right: 1px solid rgba(0, 0, 0, 0.12);
                        @media screen and (max-width: 1024px) {
                            margin-bottom: 25px;
                            border-right: none;
                        }
                    }
                    a {
                        display: block;
                        transition: all 0.3s;
                        &:hover{
                            opacity: 0.7;
                        }
                        figure {

                            img{
                                width: 100%;
                                height: auto;
                                border: none;
                                text-decoration: none;
                                outline: 0;
                                vertical-align: bottom;
                            }
                            figcaption {
                                padding: 30px;
                                .title {
                                    font-size: 13px;
                                    line-height: 1.7;
                                    letter-spacing: 0.15em;
                                    font-weight: bold;
                                    margin-bottom: 5px;
                                    @media screen and (max-width: 1024px) {
                                        font-size: 13px;
                                        line-height: 1.7;
                                        letter-spacing: 0.15em;
                                        font-weight: bold;
                                        margin-bottom: 5px;
                                    }
                                }
                                .tag {
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 800;
                                    font-size: 12px;
                                    color: var(--main-color);
                                    padding-left: 18px;

                                    @media screen and (max-width: 1024px) {
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 800;
                                        font-size: 12px;
                                        color: var(--main-color);
                                        padding-left: 18px;

                                    }
                                }
                            }

                        }
                    }
                }
            }

        }
    }



    &:nth-child(odd){

        .section-inner{

            .row{
                margin-bottom: 0;
                margin-left: 0;
                margin: 0 auto;
            }
        }
    }

}

.faqs-section{
    padding: 50px 0;
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    @media screen and (max-width: 1024px) {
        padding-top: 50px;
        overflow: hidden;
        height: auto;
        display: block;
        margin-bottom: 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background-color: #f2f2f2;
        transform: skewX(20deg);
        transform-origin: 100% 100%;
        @media screen and (max-width: 1024px) {
            width: 100vw;
            height: 80vw;
            transform: skewY(12.5deg);
            transform-origin: 100% 100%;
        }
    }

    .section-inner{

        h2{
            top: 0;
            .cn{
                color: #222;
            }
            .en{
                color: var(--main-color);
            }
        }
    }


    .main{
        width: 85%;
        display: flex;

        margin-left: 15%;
        overflow: hidden;

        @media screen and (max-width: 1024px) {

            margin-top: 40px;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }

        .faq-main{
            width: 86%;
            @media screen and (max-width: 1024px) {
                width: 100%;
            }
            .faq-item{
                margin-bottom: 22px;
                padding-bottom: 22px;
                border-bottom: 1px solid #999;

                overflow: hidden;
                .faq-title{
                    font-size: 18px;
                    position: relative;
                    cursor: pointer;
                    &:before{
                        content: "\e620";
                        font-family: "iconfont" !important;
                        font-size: 20px;
                        font-style: normal;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-weight: 500;
                    }
                    &.faq-show{
                        &:before{
                            content: "\e729";

                        }
                    }
                }
                .faq-desc{
                    font-size: 14px;
                    display: none;
                    padding-top: 12px;
                }
            }
        }



    }
}

.backdrop-text{
    width: 64%;
    margin: 0 auto;
    padding-bottom: 80px;
    @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 15px;
        padding-bottom: 60px;
    }
    .p1{
        font-size: 22px;
        margin-bottom: 20px;

    }
    .p2{
        font-size: 15px;
    }
}
