

.message-body{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    .form-main{
        .form-group{
            display: flex;
            margin-bottom: 48px;
            @media screen and (max-width: 768px) {
                display: block;
            }
            label{
                font-size: 14px;
                width: 80px;
                padding-top: 10px;
                @media screen and (max-width: 768px) {
                    padding-top: 0;
                    margin-bottom: 10px;
                    display: block;
                }
            }
            .form-control{
                flex-grow: 1;
                height: 40px;
                border: 1px solid #A7A7A7;
                border-radius: 4px;
                flex-shrink: 0;
                padding: 0 26px;
                background-color: transparent;
                color: #000;
                option{
                    color: #000;
                }
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }
            .form-textarea{
                height: 123px;
                padding:10px 26px;
                font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
            }
            .form-btn{
                width: 100%;
                height: 46px;
                background: var(--main-color);
                border: none;
                color: #fff;
                font-size: 16px;
                border-radius: 6px;
                box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
            }
            .activate-btn{
                background: #0078A3;
                color: #fff;

            }

            .option{
                align-self: center;
                display: flex;
                .checkbox{
                    margin-left: 16px;
                    &:first-child{
                        margin-left: 0;
                    }
                    .checked-label{
                        display: flex;
                        align-items: center;
                        .dress{
                            width: 18px;
                            height: 18px;
                            opacity: 1;
                            border: 1px solid #D8D8D8;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            flex-shrink: 0;
                            &:after{
                                content: "";
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                                background-color: var(--main-color);
                                opacity: 0;
                            }
                        }
                        .text{
                            margin-left: 4px;
                        }

                    }
                    .form-radio{
                        display: none;
                        &:checked{
                            +.checked-label{
                                .dress{
                                    border: 1px solid var(--main-color);
                                    &:after{
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .appendix{
            display: flex;
            margin-bottom: 48px;
            label{
                font-size: 14px;
                width: 80px;

            }
            .atlas{
                .seat{
                    .file_hide{
                        display: none;
                    }
                    .seize{
                        width: 120px;
                        height: 120px;
                        background-color: #F5F5F5;
                        border-radius: 4px;


                        padding: 0;
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;

                        img{
                            width: 100%;
                            position: relative;
                            z-index: 2;
                            display: none;
                            max-height: 120px;
                        }
                        .remove-pic{
                            position: absolute;
                            top: -6px;
                            right: -6px;
                            background-color: red;
                            border-radius: 50%;
                            display: flex;
                            width: 18px;
                            height: 18px;
                            justify-content: center;
                            align-items: center;
                            z-index: 3;
                            opacity: 0;
                            i{
                                color: #fff;
                                font-size: 12px;
                                font-weight: bold;
                            }
                        }
                        .add-pic{
                            position: absolute;
                            color: #D8D8D8;
                            font-size: 40px;
                            z-index: 1;
                            opacity: 1;
                        }
                        &.have{
                            .remove-pic{
                                opacity: 1;
                            }
                            .add-pic{
                                opacity: 0;
                            }
                            img{
                                display: block;
                            }
                        }
                    }
                }
            }
        }

    }
}
.protect{
    text-align: center;
    font-size: 12px;
    color: #3D3D3D;
    span{
        &:first-child{
            @media screen and (min-width: 768px) {
                &:after{
                    content: ",";
                }
            }

        }
        @media screen and (max-width: 768px) {
            display: block;
        }
    }


    a{
        text-decoration: underline;
    }
}
