.news-body {
  width: calc(75% + 4vw);
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .news-body {
    width: 100%;
  }
}
.news-body .news {
  width: 100%;
  margin: 0 auto;
}
.news-body .news .item {
  border-top: 3px solid var(--main-color);
  background-color: #fff;
  margin-bottom: 30px;
  padding: 4% 6%;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .news-body .news .item {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }
}
.news-body .news .item .ls {
  display: block;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .news-body .news .item .ls {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.news-body .news .item .yiv {
  display: block;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  flex-shrink: 1;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .news-body .news .item .yiv {
    width: 100%;
    margin-bottom: 15px;
    flex-direction: column;
  }
}
.news-body .news .item .go {
  width: 14%;
  min-width: 100px;
  background-color: var(--main-color);
  height: 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .news-body .news .item .go {
    width: 90%;
    height: 50px;
  }
}
.news-body .news .item .go span {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.15em;
  position: relative;
  padding-right: 35px;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (max-width: 768px) {
  .news-body .news .item .go span {
    font-size: 14px;
    line-height: 1.2;
  }
}
.news-body .news .item .go span:before,
.news-body .news .item .go span:after {
  content: '';
  height: 1px;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0.25em;
  transform-origin: 100% 100%;
}
.news-body .news .item .go span:before {
  width: 6px;
  transform: rotate(45deg);
}
.news-body .news .item .go span:after {
  width: 28px;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.news-body .news .item .ls:hover .go {
  background-color: var(--darken-main-color);
}
.news-body .news .item .ls:hover .go span {
  padding-right: 42px;
}
.news-body .news .item .ls:hover .go span:after {
  width: 35px;
}
.news-body .news .item .img-wrapper {
  width: 40%;
  max-width: 256px;
  flex-shrink: 0;
  background-color: #ccc;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .news-body .news .item .img-wrapper {
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.news-body .news .item .img-wrapper img {
  width: 100%;
  height: 100%;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.news-body .news .item .info {
  width: 100%;
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .news-body .news .item .info {
    width: 100%;
    padding: 30px;
    text-align: left;
    padding-bottom: 15px;
  }
}
.news-body .news .item .info .date {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 20px;
}
.news-body .news .item .info .new-title {
  font-size: 18px;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .news-body .news .item .info .new-title {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
  }
}
.news-body .news .item .info .new-desc {
  font-size: 14px;
  color: #A1A1A1;
  margin-bottom: 16px;
}
.news-body .news .item .info .go {
  text-align: center;
  margin-top: 20px;
}
.news-body .news .item .info .go a {
  color: #fff;
  margin: 0 auto;
}
.news-body .news .item:hover .img-wrapper img {
  transform: scale(1.06);
}
.news-body .news .item:hover .btn p {
  padding-right: 56px;
}
.news-body .news .item:hover .btn p:after {
  width: 45px;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
/*# sourceMappingURL=news.css.map */