
.page-body{

    @media screen and (max-width: 1024px) {
        margin: 15px auto;
        padding: 0;
    }
    .news-img{
        width: 100%;
        margin-bottom: 20px;
    }

    .title{
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 8px;
        text-align: center;
        position: relative;
        padding-bottom: 20px;
        @media screen and (max-width: 1024px) {
            font-size: 24px;
        }
        &:after{
            content: "";
            width: 100px;
            height: 2px;
            margin: 0 auto;
            background-color: var(--main-color);
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }
    .source-date{
        margin-bottom: 8px;
        a{
            color: #0078a3;
            text-decoration: underline;
        }
        span{
            &:before{
                content: "|";
                padding: 0 6px;
            }
        }
    }
    .news-content{
        margin-top: 3rem;
        @media screen and (max-width: 1024px) {
            margin-top: 40px;
        }
        h2,h3,h4,h5,h6{
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 500;
        }

        p{
            line-height: 1.5;
            font-size: 14px;
        }
        img{
            width: 100%;
            height: auto!important;
        }
        ul{
            width: 100% !important;
        }
    }
}
